.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
package-lock.json
.editorconfig

img/demo.gif
img/demo_allowed_lines.gif